/*шрифты*/
@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);
/*обнуление*/
*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;	
	        box-sizing: border-box;
}
a{text-decoration: none;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-webkit-text-size-adjust: 100%;
	   -moz-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}
img{vertical-align: top;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,ol,li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}

/*вёрстка по макету*/
body{
	font-family: Rubik;
	font-size: 12px;
	color: #616161;
}
.wrapper{ /*чтобы подвал был прижат к низу*/
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%; /*чтобы оболочка занимала минимум всю высоту*/
}
.main{
	flex: 1 1 auto; /*прижать подвал к низу*/
}
[class*="__container"]{
	max-width: 1087px; /*(1057+30) тот самый ограничивающий контейнер размером по макету 1057px*/
	margin: 0 auto; /*содержимое внутри контейнера - по середине*/
	padding: 0px 15px;
}

@media (max-width: 1057px){ /*компьютеры*/
	[class*="__container"]{
		max-width: 970px;
	}
}

@media (max-width: 991.98px){ /*планшеты*/
	[class*="__container"]{
		max-width: 750px;
	}
}

@media (max-width: 767.98px){ /*мобильные*/
	[class*="__container"]{
		max-width: none;
	}
}

@media (max-width: 479.98px){ /* маленькие мобильные*/

}
/* HEADER */
.header { /*шапка будет по верх*/
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 114px; /*ширина блока по макету*/
	align-items: center; /*выравнивание всех объектов по центру*/
}
.header__logo {
	position: relative;
	z-index: 5;
}
.header__menu {
	flex: 1 1 auto; /*позволит меню занимать всю ширину в блоке*/
}
.header__button {
	position: relative;
	z-index: 5;
	flex: 0 0 252px; /*сам блок с кнопкой будет фиксированной шириной (по макету 252px) из-за декора на заднем фоне*/
	display: flex;
	justify-content: flex-end; /*прижать кнопку вправо*/
	align-items: center; /*это ради бургера чтобы он распологался по центру*/
}

/* -------------------------------------- */
.menu {
	display: flex;
	justify-content: flex-end; /*прижать меню вправо*/
	/*padding: 0px 40px 0px 0px;*/ /*справа отступ по макету*/
}
.menu__list {
	display: flex;
	/*gap: 40px;*/ /*в уроке убрал padding и gap, на старых safari gap не работает*/
}
.menu__item {
	margin: 0px 40px 0px 0px;
}
.menu__link {
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
	line-height: 1.2; /*по макету 12px; 12 line-height / 10 font-size = 1.2*/
	color: #000;
}
.menu__link:hover{
	text-decoration: underline;
}
/* -------------------------------------- */
.button {
	display: inline-block; /*можно и недобавлять, потому что кнопка flex элемент, на всякий случай добавить*/
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 10px;
	line-height: 1.2; /*по макету 12px; 12 line-height / 10 font-size = 1.2*/
	letter-spacing: 1px; /*межбуквенный интервал*/
	color: #FCFDFE;
	border-radius: 5px;
	padding: 14px 30px; /*вместо width height использовал padding (и получилось по макету высота 40px)*/
	background-color: #ec5863;
	transition: background-color .3s ease-in-out 0s;
}
.button:hover{
	background-color: #eb6f77;
}
.button--blue {
	background-color: #4285f4;
}
.button--blue:hover {
	background-color: #5692f3;
}

/* -------------------------------------- */
@media (max-width: 991.98px){
	.header__container {
		min-height: 80px;
	}
	.header__button {
		flex-basis: 170px;
	}
	.menu__item {
		margin: 0px 30px 0px 0px;
	}
}
@media (max-width: 767.98px){
	.menu__body{
		position: fixed; /*меню будет фиксированно по верх всего*/
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto /*если будет много пунктов меню, тогда появится скролл*/;
		background-color: #eee;
		padding: 90px 15px 30px 15px;
		transition: left .3s ease 0s;
	}
	.header:target .menu__body{
		left: 0;
	}
	.header:target .menu__body:before{/*прокладка между header и меню (съузить по высоте экран и прокрутить скроллом меню)*/
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		height: 80px;
		width: 100%;
		background-color: #fff;
	}
	.menu__list{ /*отцентрировать пункты меню*/
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu__item{
		margin: 0px 0px 25px 0px;
	}
	.menu__item:last-child{
		margin-bottom: 0;
	}
	.menu__link{
		font-size: 20px;
	}
}
@media (max-width: 479.98px){
	.header__logo{ /*скрыть надпись в логотипе*/
		flex: 0 0 40px; /*40px - размер изображения в логотипе*/
		overflow: hidden;
	}
}
/* -------------------------------------- */
/* burger */
.close-icon-menu,
.icon-menu{
	display: none;
}
@media (max-width: 767.98px){
	.icon-menu{
		position: relative;
		flex: 0 0 30px; /* т.к. бургер находится внутри flex блока */
		height: 18px;
		display: flex;
		flex-direction: column; /* полоски расположаться вертикально */
		justify-content: space-between;
		margin: 0px 0px 0px 20px;
	}
	.icon-menu::before, /*полоски*/
	.icon-menu::after{
		content: '';
		background-color: #000;
		height: 2px;
	}
	.icon-menu span{
		height: 2px; /*ширина полоски*/
		background-color: #000;
	}
	.close-icon-menu{
		flex: 0 0 30px;
		height: 18px;
		position: relative;
		margin: 0px 0px 0px 20px;
	}
	.close-icon-menu::before,
	.close-icon-menu::after{
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		background-color: #000;
		height: 2px;
	}
	.close-icon-menu::before{
		transform: rotate(45deg);
	}
	.close-icon-menu::after{
		transform: rotate(-45deg);
	}
	.header:target .icon-menu{
		display: none;
	}
	.header:target .close-icon-menu{
		display: flex;
	}
}

/*---------------------------------------------------------------------*/
.block-text {
}
.block-text--center{
	text-align: center;
}
.block-text__title {
	font-weight: 700;
	font-size: 44px;
	line-height: 126%;
	color: #000;
}
.block-text__title:not(:last-child){
	margin: 0px 0px 12px 0px;
}
.block-text__title span {
	color: #ec5863;
}
.block-text__title--blue span {
	color: #4285f4;
}
.block-text__text {
	line-height: 138.5%;
}
.block-text__text:not(:last-child){
	margin: 0px 0px 24px 0px;
}
.block-text__text--mw{ /*ограничивающий модификатор*/
	max-width: 620px;
	margin: 0 auto; /*текст по центру*/
}
.block-text__button {
}
@media (max-width: 767.98px){
	.block-text__title{
		font-size: 34px;
	}
}
/*---------------------------------------------------------------------*/
.get-started {
	background-color: #FAFBFD;
	
}
.get-started__container {
	padding: 150px 15px 50px 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}
.get-started__container:before{
	position: absolute;
	content: '';
	width: 100vw; /*декор будет на всю ширину вьюпорта*/
	height: 100%;
	top: 0;
	right: 267px;
	transform: translate(100%, 0px);
	background-color: #ec5863;
	border-radius: 30px 0 0 30px;
}
.get-started__content {
	flex: 0 1 48%; /*по макету этот блок меньше по ширине*/
	padding: 0px 20px; /*отступы безопасности*/
}
.get-started__block-text {
	max-width: 410px; /*по макету у этого блока такая ширина*/
}
.get-started__video {
	flex: 1 1 100%;
	padding: 60px 0px 0px 20px;
}
.get-started__image {
	flex: 0 1 52%; /*по макету этот блок больше по ширине*/
	position: relative;
	z-index: 2;
}
.get-started__image img{
	max-width: 100%;
}

.video-get-started {
	display: inline-flex;
	align-items: center;
}
.video-get-started__icon {
	flex: 0 0 44px; /*ширина иконки 44px*/
}
.video-get-started__body {
	padding: 0px 0px 0px 12px;
}
.video-get-started__title {
	color: #B0B0B0;
	font-size: 13px;
	line-height: 126%;
	letter-spacing: 1.5px;
}
.video-get-started__title:not(:last-child){
	margin: 0px 0px 5px 0px;
}
.video-get-started__text {
	font-size: 9px;
	text-transform: uppercase;
	color: #000;
	line-height: 126%;
	letter-spacing: 2px;
}
@media (max-width: 991.98px){
	.get-started__container:before{
		right: 185px;
		border-radius: 20px 0 0 20px;
	}
}
@media (max-width: 767.98px){
	.get-started__container{
		padding: 100px 15px 30px 15px;
	}
	.get-started__container:before{
		display: none;
	}
	.get-started__block-text {
		max-width: none;
	}
	.get-started__content {
		flex: 1 1 100%;
		padding: 0;
	}
	.get-started__image{
		flex: 1 1 100%;
		text-align: center;
		padding: 30px 0;
	}
	.get-started__video{
		padding: 0;
	}
}

/* ----------------------------------------------- */
.stay-safe {
	padding: 80px 0px;
}
.stay-safe__container {
	display: flex;
	align-items: center;
}
.stay-safe__media {
	flex: 0 1 50%;
	padding: 0px 0px 0px 47px;
}

.stay-safe__content {
	flex: 0 1 50%;
}
.stay-safe__block-text {
}

.media-stay-safe {
	width: 373px; /*по макету*/
	text-align: center; /*центрировать картинку*/
	padding: 56px 0px 27px 0px;
	position: relative;
}
.media-stay-safe__image {
	display: inline-block; /*чтобы объект не занимал всю ширину, а по ширине картинки*/
	box-shadow: 2px 4px 32px 0 rgba(0, 0, 0, 0.12);
	border-radius: 16px;
	position: relative;
	width: auto;
}
.media-stay-safe__image img{
	position: relative; /*это для z-index*/
	z-index: 5;
	max-width: 61.5%; /* (229 / 372) * 100% не знаю откуда эти данные (но они ширина картинки) */
}
.media-stay-safe__image::after{
	content: '';
	position: absolute;
	bottom: 20px;
	left: 45px;
	width: 206px;
	height: 27px;
	z-index: 2;
	background: rgba(240, 240, 240, 0.49);
	border-radius: 16px;
}
.media-stay-safe__item {
	position: absolute;
	background: #ec5863;
	border-radius: 30px;
	width: 77px;
	height: 77px;
}
.media-stay-safe__item--1 {
	top: 0;
	left: 0;
	width: 147px;
	height: 147px;
}
.media-stay-safe__item--2 {
	bottom: 27px;
	left: 39px;
}
.media-stay-safe__item--3 {
	bottom: 140px;
	right: 38px;
}

@media (max-width: 767.98px){
	.stay-safe__container{
		flex-direction: column-reverse; /*картинка снизу (для восприятия так)*/
	}
}
@media (max-width: 991.98px){
	.stay-safe {
		padding: 40px 0px;
	}
}
@media (min-width: 991.98px){
	.stay-safe__media {
		padding: 0px 0px 0px 47px;
	}
	.stay-safe__content{
		margin: 0px 0px 30px 0px;
	}
}
@media (max-width: 479.98px){
	.media-stay-safe{
		width: 290px;
	}	
}

/* --------------------------------------------------- */
.experts {
	background-color: #FAFBFD;
	padding: 103px 0px 116px 0px;
}
.experts__container {
}
.experts__statistics {
}
.experts__block-text{
	max-width: 400px;
}
.experts__body{
	display: flex;
	align-items: center;
}
.experts__content{
	flex: 0 1 50%;
	padding: 0px 20px 0px 0px;
}
.experts__video{
	flex: 0 1 50%;
	padding: 0px 0px 30% 0px; /*тем самым видео будет адаптивно*/
	position: relative;
	box-shadow: 0 4px 18px 0 rgba(88, 126, 236, 0.18);
	border-radius: 8px;
	overflow: hidden; /*чтобы border-radius было видно*/
}
.experts__video iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
@media (max-width: 767.98px){
	.experts{
		padding: 80px 0px 30px 0px;
	}
	.experts__body{
		align-items: stretch; /*если оставить align-items: center; то блок видео не отображается*/
		flex-direction: column;
	}
	.experts__video{
		padding: 0px 0px 58% 0px;
	}
	.experts__content{
		padding: 0;
		margin: 0px 0px 30px 0px;
	}
}

.statistics-experts {
	max-width: 655px;
	margin: 0 auto;
	position: relative;
}
.statistics-experts__body {
	background-color: #fff;
	box-shadow: 0 2px 24px 0 rgba(88, 126, 236, 0.15);
	border-radius: 16px;
	position: relative;
	z-index: 2;
	margin: 0px 0px 80px 0px;
}
.statistics-experts__decor {
	position: absolute;
	background: #ec5863;
	border-radius: 30px;	
}
.statistics-experts__decor--1 {
	width: 65px;
	height: 65px;
	transform: rotate(-30deg);
	bottom: -21px;
	left: -21px;
	border-radius: 16px;
}
.statistics-experts__decor--2 {
	width: 97px;
	height: 97px;
	right: 50%;
	top: -40px;
	transform: rotate(30deg);
}
.statistics-experts__decor--3 {
	width: 128px;
	height: 128px;
	right: -55px;
	top: 0;
	transform: rotate(-30deg);
}

.body-statistics-experts {
	padding: 25px 80px;
	display: flex;
	align-items: center;
}
.body-statistics-experts__item {
	flex: 0 1 25%;
	text-align: center;
}
.body-statistics-experts__item:last-child { /*последний элемент шире других*/
	flex: 0 1 50%;
}
.body-statistics-experts__value {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 1px;
	color: #ec5863;
	margin-bottom: 5px;
}
.body-statistics-experts__text {
	font-weight: bold;
	font-size: 11px;
	line-height: 1.8;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000;
}
@media (max-width: 767.98px){
	.statistics-experts__body {
		margin: 0px 0px 50px 0px;
	}
	.body-statistics-experts {
		padding: 25px;
	}
}
@media (max-width: 767.98px){
	.body-statistics-experts {
		flex-direction: column;
	}
	.body-statistics-experts__item:not(:last-child) {
		margin: 0px 0px 15px 0px;
	}
}

/* -------------------------------------------------- */
.healthcare {
	padding: 80px 0px 30px 0px;
}
.healthcare__container {
}
.healthcare__block-text {
	margin: 0px 0px 45px 0px;
}
.healthcare__items {
	display: flex;
	min-width: 980px;
	margin: 0 auto;
	gap: 72px;
}
.healthcare__item {
	flex: 0 1 33.333%
}
.item-healthcare {
	background-color: #fff;
	box-shadow: 0 4px 18px 0 rgba(88, 126, 236, 0.18);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 35px 17px;
}
.item-healthcare__icon {
	margin: 0px 0px 58px 0px;
}
.item-healthcare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 138.5%;
	color: #000;
	margin: 0px 0px 4px 0px;
}
.item-healthcare__text {
	font-weight: 400;
	font-size: 12px;
	color: #616161;
	line-height: 138.5%;
}

.item-healthcare--1{

}
.item-healthcare--1::before{
	content: '';
	width: 65px;
	height: 65px;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: rotate(-30deg);
}